<div class="col-sm-8 col-sm-offset-2">

<form class="form-group">
	<div class="row form-group">
		<label>Editar Usuario:</label>
		<input type="text" class="form-control" ng-model="user.username" ng-blur="updateUsername()" placeholder="{{email}}" required="required">
	</div>

	<div class="row form-group">
		<label>Editar Bio:</label>
		<textarea class="form-control" ng-model="user.bio" ng-blur="updateBio()" placeholder="{{user.bio}}" required="required"></textarea>
	</div>

	<div class="row form-group">
		<input type="submit" class="btn btn-primary" value="Editar Perfil" required="required" ng-click="update()">
		<input type="button" class="btn btn-primary" value="Cambiar Imagen" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="'image/*'">
		<input type="button" class="btn btn-primary" value="Cancelar" ui-sref="main" />
	</div>
</form>

</div>