<div class="col-sn-18 col-sm-offset-1" ng-controller="NavigationController">    
    <!--<div class="row">
        <textarea ng-model="newWaste"
            ng-keypress="sendWaste($event)"
            class="form-control"
            placeholder="Post Comment.... then press Enter">
        </textarea>
    </div>-->
    <div class="row">
        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'video/*'" accept="'video/*'">
            Subir un video
        </div>
    </div>
    <div class="row" ng-controller="MainController" >
        <table class="waste-section">
            <tr> <a ng-if="incomingWastes.length > 0" ng-click="setNewWastes()">Hay {{difference}} nuevas publicaciones</a></tr>
            <tr ng-repeat="waste in wastes">
                <td>{{waste.user}}
                    <image ng-src="{{waste.userImage}}" class="ing-responsive">
                </td>
                
                <td
                    <strong>{{waste.date | date: 'MM/dd/yyyy hh:mm'}}</strong> <br>
                    <p>{{waste.content}}</p>
                    
                </td>
            </tr>
        </table> 
     </div>
</div>